@page "/Flights"

<h3>Flight Finder</h3>
<input @bind="SelectedDeparture" placeholder="Any" />
<input @bind="SelectedArrival" placeholder="Any" />
<input type="datetime-local" @bind="SelectedDay" />
<input type="submit" value="Find Flights" />
<h3>Flights</h3>
<select @bind="selectedValue" @bind:event="onchange">
    @if (options.Count == 0 )
    {
        <option value="Loading...">Loading...</option>
    }
    else
    {
        @foreach (var option in options)
        {
            <option value="@option">@option</option>
        }
    }

</select>
<p>Selected Value: @selectedValue</p>

@code
{
    public string SelectedDeparture { get; set; }
    public string SelectedArrival { get; set; }
    public DateTime SelectedDay = DateTime.Now;



    public string Name { get; set; }
    private DateTime selectedDate = DateTime.Now;
    private string selectedValue;
    private string selectedOption = "Option1";
    private List<string> options = new List<string> { };

    private void OnSelectedValueChanged(ChangeEventArgs e)
    {
        selectedValue = e.Value.ToString();
    }
}