@page "/flightspage"
@using Traveless.Services
@using Microsoft.Maui.Controls
@inject FlightsManager flightsManager
@inject ReservationsManager reservationsManager


<div class="header">
    <h1>Flight Finder</h1>
</div>
<div>
    <label>
        Departure Airport
        <InputText @bind-Value="selectedDeparture" />
    </label>

    <label>
        Arrival Airport
        <InputText @bind-Value="selectedArrival" />
    </label>

    <label>
        Departure Day
        <InputText @bind-Value="selectedDay" />
    </label>

    <button class="btn btn-primary" @onclick="LoadFlights">Search for Flights</button>
</div>
<div class="header">
    <h1>Flights Found</h1>
</div>

<div>
    <select @bind=foundFlightID>
        @foreach(Flights flights in foundFlights)
        {
            <option value="@flights.FlightID">@flights</option>
        }
    </select>
</div>

<div class="header">
    <h1>Reservation Information</h1>
</div>

<div id="reservationForm">
    <label>
        Flight ID:
        <InputText @bind-Value="foundFlightID" readonly />
    </label>

    <label>
        Airline name:
        <InputText @bind-Value="foundFlightName" readonly />
    </label>

    <label>
        Day of Flight:
        <InputText @bind-Value="foundDay" readonly />
    </label>

    <label>
        Flight Time:
        <InputText @bind-Value="foundTime" readonly />
    </label>

    <label>
        Flight Cost:
        <InputText @bind-Value="foundCost" readonly />
    </label>

    <label>
        Customer Name:
        <InputText @bind-Value="clientName" />
    </label>

    <label>
        Customer Citizenship:
        <InputText @bind-Value="clientCitizen" />
    </label>

    <button class="btn btn-primary" @onclick="ReserveFlight">Reserve Flight</button>

    @if (!string.IsNullOrEmpty(errMess))
    {
        <div class="alert alert-danger">@errMess</div>
    }

</div>

<p>Flight Reservation Code: @resFlightCode</p>

@code {
    private List<Flights> foundFlights = new List<Flights>();
    internal string selectedDeparture { get; set; } = string.Empty;
    private string selectedArrival { get; set; } = string.Empty;
    private string selectedDay { get; set; } = string.Empty;
    private string foundID { get; set; } = string.Empty;
    private string foundFlightName { get; set; } = string.Empty;
    private string foundDay { get; set; } = string.Empty;
    private string foundTime { get; set; } = string.Empty;
    private string foundCost { get; set; } = string.Empty;
    private string clientName { get; set; } = string.Empty;
    private string clientCitizen { get; set; } = string.Empty;
    private string? _selectedID;
    private string? errMess;
    public string? resFlightCode;
    private string? foundFlightID
    {
        get { return _selectedID; }
        set
        {
            _selectedID = value;
            chosenFlight = flightsManager.searchFlights(_selectedID);
            loadFlight();
        }
    }
    Flights chosenFlight;
    Reservations currentReservation;
    protected override void OnInitialized()
    {
        flightsManager.LoadFromCSV();
        selectedDeparture = "Any";
        selectedArrival = "Any";
        selectedDay = "Any";
        chosenFlight = new Flights();
        currentReservation = new Reservations();
    }
    void LoadFlights()
    {
        foundFlights = flightsManager.searchFlights(selectedDeparture, selectedArrival, selectedDay);
        if (foundFlights.Count() > 0)
        {
            chosenFlight = foundFlights[0];
            foundFlightID = chosenFlight.FlightID;
            loadFlight();
        }
    }
    void ReserveFlight()
    {
        try
        {
            Flights flights = flightsManager.searchFlights(foundID);
            if (string.IsNullOrEmpty(foundFlightID))
            {
                throw new Exception("You must select a flight first");
            }
            if (string.IsNullOrEmpty(flights.ToString()))
            {
                throw new Exception("No flight with that number found");
            }
            if (string.IsNullOrEmpty(clientName))
            {
                throw new Exception("You must enter a name");
            }
            if (string.IsNullOrEmpty(clientCitizen))
            {
                throw new Exception("You must enter a citizenship");
            }
            if (flights.FreeSeats <= 0)
            {
                throw new Exception("No free seats available on flight");
            }
            if (string.IsNullOrEmpty(foundTime))
            {
                foundTime = DateTime.Now.ToString("HH:mm");
            }
            currentReservation = new Reservations(foundID, foundFlightName, foundDay, foundTime, float.Parse(foundCost), clientName, clientCitizen);
            resFlightCode = currentReservation.Reservation_Code;
            flightsManager.SeatReservation(foundID);
            errorFix();
        }
        catch (Exception ex)
        {
            errMess = ex.Message;
        }
    }
    void errorFix()
    {
        errMess = null;
    }
    void loadFlight()
    {
        foundID = foundFlightID;
        foundFlightName = chosenFlight.FlightName;
        foundDay = chosenFlight.DayofWeek;
        foundTime = chosenFlight.TimeofFlight;
        foundCost = chosenFlight.FlightCost.ToString();
    }
}